/*notes*/
/*STATIC VS RELATIVE
    static- is a default value and all elements are in order as they appear in the document
    relative- the element is positioned relative to its normal position (you can modify but need to use one of the coordinate properties in order for it to actuall do something)
    absolute- the element is positioned absolutely to its first positioned parent

 LEFT: ; = move element to the right
 RIGHT: ; = move element to the left
 UP: ; = move element down
 DOWN: ; = move element up

 Display: inline-block; = can display elements in a row*/
/*body is the container/parent element*/
body {
    margin: 0;
    text-align: center;
    /*stack of fallback fonts when someone's OS doesn't render a certain font*/
    font-family: 'Merriweather', serif;
    background-color: #BA6476;
}
/*h1 is a block element*/
h1 {
    margin-top: 0;
    /*margin: 0 auto;*/
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-color: #FCC0C0;
    border-top-style: dotted;
    border-width: 8px;
    width: 10%;
}











/*.top-cloud {
    position: absolute;
    left: 1200px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 1300px;
}*/

