/*notes*/
/*STATIC VS RELATIVE
    static- is a default value and all elements are in order as they appear in the document
    relative- the element is positioned relative to its normal position (you can modify but need to use one of the coordinate properties in order for it to actuall do something)
    absolute- the element is positioned absolutely to its first positioned parent

 LEFT: ; = move element to the right
 RIGHT: ; = move element to the left
 UP: ; = move element down
 DOWN: ; = move element up

 Display: inline-block; = can display elements in a row*/
/*body is the container/parent element*/
body {
    background-color: #BA6476;
    color: black;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    /*stack of fallback fonts when someone's OS doesn't render a certain font*/
}
/*h1 is a block element*/
/*the parent of the h1 is the body because h1 is contained inside the body - having a font size in the body and having a font size in the h1 tag leaves the h1 inheriting whatever font the body was set to - when using em for sizing. If using static sizes such as pixel sizes, nothing is inherited. When using rem (root em), it will ignore the parent sizes.*/

h1 {
    color: #66BFBF;
    font-size: 80px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    
}

h3 {
    color: rgb(80, 236, 241);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-color: #FCC0C0;
    border-top-style: dotted;
    border-width: 8px;
    width: 20%;
}

.blog-img {
    width: 10%;
}

.fam-img {
    width: 15%;
    border: 5px solid rgb(30, 235, 235);
}

.husband-img {
    width: 15%;
    border: 5px solid rgb(30, 235, 235);
}

.intro {
    width: 30%;
    margin: auto;
}

.p {
    font-size: 5px;
    overflow-wrap: break-word;
}

.skills-img {  
    width: 10%;
}

.skills1 {
    width: 30%;
    margin: auto;
}













/*.top-cloud {
    position: absolute;
    left: 1200px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 1300px;
}*/

